rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Règle de sécurité pour la collection 'products'
    // Autorise la lecture par n'importe qui (nécessaire pour afficher les produits sur le site public)
    // Autorise l'écriture uniquement si l'utilisateur est authentifié (mesure de sécurité de base)
    match /products/{productId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Applique une règle plus stricte pour tous les autres documents pour la sécurité
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
